In [1]:
# # Dictionary
# indexed
# multiple and duplicate value
# ordered
# Mutable

In [2]:
# a = dict()
a = {'a':'Apple','b':'Ball','c':'Cat'}
print(type(a))

<class 'dict'>

In [3]:
len(a)

3

In [6]:
print(a['c'])

Cat

In [7]:
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [8]:
a = {}
a['a'] = "Apple"
a['b'] = "Ball"
a['c'] = "Cat"
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [9]:
info = {}
n = int(input('Enter n = '))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info[name] = phone
    
print(info)

Enter n = 2
Enter name = Ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 9808778765
{'Ram': 9808778765, 'Shyam': 9808778765}

In [ ]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [10]:
a = {'Ram': 9808778765, 'Shyam': 9808778765}
for i in a:
    print(i)

Ram
Shyam

In [11]:
a = {'Ram': 9808778765, 'Shyam': 9808778765}
for i in a.values():
    print(i)

9808778765
9808778765

In [12]:
a = {'Ram': 9808778765, 'Shyam': 9808778765}
for i in a.items():
    print(i)

('Ram', 9808778765)
('Shyam', 9808778765)

In [14]:
d = (('Ram', 9808778765),('Shyam', 9808778765))
d = dict(d)
d

{'Ram': 9808778765, 'Shyam': 9808778765}

In [17]:
# update
a = {'Ram': 9808778765, 'Shyam': 9808778765}
a['Ram'] = 9808000000
a

{'Ram': 9808000000, 'Shyam': 9808778765}

In [19]:
# for delete  pop() del
a = {'Ram': 9808778765, 'Shyam': 9808778765}
b = a.pop('Ram')
print(a)
print(b)

{'Shyam': 9808778765}
9808778765

In [20]:
a = {'Ram': 9808778765, 'Shyam': 9808778765}
del a['Ram']
print(a)

{'Shyam': 9808778765}

In [21]:
a = {'Ram': 9808778765, 'Shyam': 9808778765}
b = {'Sita':9808778765}
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [22]:
a = {'Ram': 9808778765, 'Shyam': 9808778765,'Ram':9808000000}
print(a)

{'Ram': 9808000000, 'Shyam': 9808778765}

In [24]:
# list inside dict
info = {'Name':["Ram","Shyam","Hari"],
       'Age':[34,56,32],
       'Address':["Kathmandu","Bhaktapur","Lalitpur"]}
info

{'Name': ['Ram', 'Shyam', 'Hari'],
 'Age': [34, 56, 32],
 'Address': ['Kathmandu', 'Bhaktapur', 'Lalitpur']}

In [27]:
info = {'Name':[],'Age':[],'Add':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info['Name'].append(name)
    info['Age'].append(age)
    info['Add'].append(add)
    
print(info)

In [25]:
# dict inside list
info = [{'name':'Ram','age':45,'add':"Kathmandu"},
       {'name':'Shyam','age':43,'add':"Bhaktapur"},
       {'name':'Hari','age':56,'add':"Lalitpur"}]
info

[{'name': 'Ram', 'age': 45, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 43, 'add': 'Bhaktapur'},
 {'name': 'Hari', 'age': 56, 'add': 'Lalitpur'}]

In [29]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d = {'name':name,'age':age,'add':add}
    info.append(d)
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 78
Enter add = Bhaktapur
[{'name': 'Ram', 'age': 89, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 78, 'add': 'Bhaktapur'}]