In [1]:
a = 10
print(a)

10

In [2]:
a = 10               #int
b = 10.5             #float
c = 'Hello World'    #str
d = True             #bool
print(a,b,c,d)

10 10.5 Hello World True

In [3]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [5]:
# + - * / % ** //

In [12]:
a = 10
b = 3
c = a ** b
print(c)

1000

In [15]:
a = 10
b = 3
c = a // b
print(c)

3

In [18]:
a = "Hello "
b = "World"
c = a + b
print(c)

Hello World

In [20]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [21]:
a = True
b = False

print(a+b)

1

In [22]:
a = True
b = False

print(a*b)

0

In [23]:
a = True
b = True

print(a+b)

2

In [26]:
a = 2 + 3j
b = 4 + 2j
c = a*b
print(c)

(2+16j)

In [28]:
a = 16
print(a**(1/2))

4.0

In [29]:
p = 2000
t = 3.5
r = 8

i = p*t*r/100

print("The value of i = ",i)

The value of i =  560.0

In [1]:
# input from user

In [3]:
a = input()

3234

In [5]:
a = input("Enter a = ")
print(a)
print(type(a))

Enter a = 10
10
<class 'str'>

In [8]:
a = int(input("Enter a = "))
print(a)
type(a)

Enter a = 30
30

int

In [9]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100

print("The vaoue of i = ",i)

Enter p = 10000
Enter t = 3.5
Enter r = 3
The vaoue of i =  1050.0

In [10]:
# int() str() float() bool() complex()

In [11]:
#int to str
a = 10
b = str(a)
b

'10'

In [12]:
# int to float
a = 10
b = float(a)
b

10.0

In [18]:
a = 0
b = bool(a)
b

False

In [19]:
a = 10
b = complex(a)
b

(10+0j)

In [ ]:
a = "Hello "
b = 10
c = a + str(b)
print(c)

In [1]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = "Hello World I am " + name + " I am from " + add + " I am " + str(age)
print(info)

Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Hello World I am Ram I am from Kathmandu I am 34

In [2]:
name = input("Enter name = ")
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics + chemistry + math +english +nepali

per = total/5
print("Your name =",name)
print("Total marks =",total)
print("Percentage =",per,"%")

Enter name = Ram
Enter physics marks = 89
Enter chemistry marks = 87
Enter math marks = 90
Enter english marks = 87
Enter nepali marks = 89
Your name =  Ram
Total marks =  442
Percentage =  88.4 %

In [3]:
# < > <= >= == !=

In [5]:
a = 10
b = 2
print(a<b)

False

In [8]:
a = 10
b = 2
print(a>=b)

True

In [13]:
a = 10
b = 10
print(a == b)

True

In [11]:
a = 10
b = 10.0
print(a == b)

True

In [15]:
a = 10
b = -10
print(a != b)

True