In [1]:
# print() int() float() str() set() list() dict() input() type()

In [2]:
# def <function_name>():
#     <operations>
    
# function_name()

In [3]:
def hello():
    print("Hello World")
    
hello()

Hello World

In [4]:
def cal():
    l = int(input("Enter l = "))      #local variable
    b = int(input("Enter b = "))      #local variable
    a = l*b
    print(a)
    
cal()

Enter l = 100
Enter b = 50
5000

In [ ]:
# function without argument and no return type

l = int(input("Enter l = "))      #global variable
b = int(input("Enter b = "))      #global variable

def cal():
    
    a = l*b
    print(a)
    
cal()

In [5]:
# function without argument and no return type
# function with argument and no return type
# function without argument and  return type
# function with argument and  return type

In [ ]:
# function with argument and no return type
def cal(l,b):   #l,b is parameter
    
    a = l*b
    print(a)
    
cal(5,2)       # 5, 2 is argument

In [6]:
# function with argument and no return type

def info(x,y,z):
    print(f"Hello World I am {x}. I am from {z}. I am {y}")


name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")

info(name,age,add)

Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Hello World I am Ram. I am from Kathmandu. I am 34

In [7]:
def cal(a,b,o):
    if o == "+":
        print(a + b)
    elif o == '-':
        print(a - b)
    elif o == '*':
        print(a * b)
    elif o == '/':
        print(a / b)
    else:
        print("Enter valid operator")

a = int(input("Enter a = "))
b = int(input("Enter b = "))
o = input("Enter + or - or * or / ")
cal(a,b,o)

Enter a = 10
Enter b = 2
Enter + or - or * or / +
12

In [9]:
def result(info):
    total = sum(info[1:])
    per = total/5
    if per >= 80:
        grade = "A"
    elif per >=60:
        grade = "B"
    elif per >=45:
        grade = "C"
    else:
        grade = "F"

    print("Your name =",info[0])
    print("Total marks =",total)
    print("Percentage =",per,"%")
    print("Grade = ",grade)
    
name = input("Enter name = ")
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))
info = [name,physics,chemistry,math,english,nepali]
result(info)

Enter name = Ram
Enter physics marks = 78
Enter chemistry marks = 34
Enter math marks = 56
Enter english marks = 43
Enter nepali marks = 34
Your name = Ram
Total marks = 245
Percentage = 49.0 %
Grade =  C

In [10]:
def language(lan = "Python"):
    print(lan)
    
language("C")
language("C++")
language("C#")
language("Java")
language()

C
C++
C#
Java
Python

In [13]:
def area(l,b = 2):
    a = l*b
    print(a)
    
area(5,3)
area(5)

15
10

In [14]:
# return type function

In [15]:
def area(l,b):
    a = l*b
    return a

print(area(5,2))

10

In [16]:
def area(l,b):
    a = l*b
    return a

ar = area(5,2)
h = 2
v = h*ar
print(v)

10

In [2]:
def cal(l,b,h):
    a = l*b
    v = a*h
    return a,v

area,volume = cal(10,5,2)
print("Ths area is = ",area)
print("The volume = ",volume)

Ths area is =  50
The volume =  100

In [ ]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b

a = int(input("Enter a = "))
b = int(input("Enter b = "))
o = input("Enter + or - or * or / ")

if o == "+":
    print(add(a,b))
elif o == '-':
    print(sub(a,b))
elif o == '*':
    print(mul(a,b))
elif o == '/':
    print(div(a,b))
else:
    print("Enter valid operator")

In [3]:
# lambda function

In [4]:
# x = lambda <arguments>:<operation>

In [5]:
x = lambda a:a**2
print(x(5))

25

In [6]:
x = lambda l,b:l*b
print(x(5,5))

25

In [7]:
# map() filter()

In [ ]:
# map()
# list(map(lambda <argument>:<operation>,list))

In [8]:
a = [10000,20000,40000,5000,1000,30000]
list(map(lambda x:x*0.95, a))

[9500.0, 19000.0, 38000.0, 4750.0, 950.0, 28500.0]

In [10]:
a = ["Apple","Ball","Cat"]
b = list(map(lambda x:x.lower(), a))
b

['apple', 'ball', 'cat']

In [11]:
# filter()
# list(filter(lambda <argument>:<condition>,list))

In [12]:
a = [10000,20000,40000,5000,1000,30000]
list(filter(lambda x:x>5000, a))

[10000, 20000, 40000, 30000]

In [13]:
a = [i for i in range(1,21)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
a = [i**2 for i in range(1,21)]
a

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [15]:
a = [int(input("Enter value = ")) for i in range(5)]
a

Enter value234
Enter value345
Enter value342
Enter value546
Enter value234

[234, 345, 342, 546, 234]

In [16]:
a = {input("Enter name = "):input("Enter phone no ") for i in range(2)}

Enter name = Ram
Enter phone no 9808778765
Enter name = Shyam
Enter phone no 9808778765

In [17]:
a

{'Ram': '9808778765', 'Shyam': '9808778765'}

In [ ]:
# recursive function
def hello():
    print("Hello World")
    hello()
    
hello()

In [1]:
# recursive function
def hello():
    print("Hello World")
    x = input("Enter y for more print ")
    if x =='y':
        hello()
    
hello()

Hello World
Enter y for more print y
Hello World
Enter y for more print y
Hello World
Enter y for more print sfd

In [2]:
# math function
import math as m

r = float(input("Enter radius = "))
a = m.pi * m.pow(r,2)

print(a)

Enter radius = 7
153.93804002589985

In [4]:
a = m.sin(m.pi/2)
print(a)

1.0