In [1]:
# Python collection
# list
# tuple
# dict
# set

In [2]:
# List
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Mutable

In [3]:
# l = list()
l = [1,2,3,4,5,6,7,8,9,10]
a = ["Apple","Ball","Cat","Dog","Fish"]
print(type(l))
print(type(a))

<class 'list'>
<class 'list'>

In [6]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[0])
print(a[0:5])
print(a[0:5:2])

Apple
['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
['Apple', 'Cat', 'Fish']

In [7]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(len(a))

5

In [8]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [10]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Fish
Apple

In [11]:
# append() insert() extend()
a = []
a.append("Apple")
a.append("Ball")
a

['Apple', 'Ball']

In [12]:
# insert()
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
a.insert(1,"ball")
a

['Apple', 'ball', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [13]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
b = [1,2,3]
a.extend(b)
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3]

In [15]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)
    
    print(l)

Enter n = 5
Enter x = 234
[234]
Enter x = 354
[234, 354]
Enter x = 465
[234, 354, 465]
Enter x = 765
[234, 354, 465, 765]
Enter x = 231
[234, 354, 465, 765, 231]

In [19]:
print("max value = ",max(l))
print("min value = ",min(l))
print("sum value = ",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

max value =  765
min value =  231
sum value =  2049
[231, 234, 354, 465, 765]
[765, 465, 354, 234, 231]

In [20]:
a = ["Ball","Cat","Zebra","Apple","Ant"]
a.sort()
a

['Ant', 'Apple', 'Ball', 'Cat', 'Zebra']

In [22]:
#Update
a = ["Ball","Cat","Zebra","Apple","Ant"]
a[0] = 'ball'
a

['ball', 'Cat', 'Zebra', 'Apple', 'Ant']

In [24]:
#update
a = ["Ball","Cat","Zebra","Apple","Ant"]
a[0:2] = ['ball','cat']
a

['ball', 'cat', 'zebra', 'Zebra', 'Apple', 'Ant']

In [26]:
#update and add
a = ["Ball","Cat","Zebra","Apple","Ant"]
a[0:2] = ['ball','cat',1,2,3]
a

['ball', 'cat', 1, 2, 3, 'Zebra', 'Apple', 'Ant']

In [27]:
# delete
# del remove() pop()

In [30]:
#del
a = ["Ball","Cat","Zebra","Apple","Ant"]
del a[0]
a

['Cat', 'Zebra', 'Apple', 'Ant']

In [31]:
a = ["Ball","Cat","Zebra","Apple","Ant"]
del a[0:2]
a

['Zebra', 'Apple', 'Ant']

In [32]:
#remove()
a = ["Ball","Cat","Zebra","Apple","Ant"]
a.remove("Ball")
a

['Cat', 'Zebra', 'Apple', 'Ant']

In [33]:
#pop()
a = ["Ball","Cat","Zebra","Apple","Ant"]
b = a.pop(0)
print(a)
print(b)

['Cat', 'Zebra', 'Apple', 'Ant']
Ball

In [34]:
a = ["Ball","Cat","Zebra","Apple","Ant"]
a.clear()
a

[]

In [35]:
a = ["Ball","Cat","Zebra","Apple","Ant"]
del a
print(a)

NameError: name 'a' is not defined

In [1]:
# list inside list

In [3]:
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]

print(a)
print(type(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>

In [4]:
a = [["Ram",34,"Kathmandu"],
    ["Shyam",45,"Bhaktapur"],
    ["Hari",56,"Lalitpur"]]
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 56, 'Lalitpur']]

In [5]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    l.append([name,age,add])
    
print(l)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 45
Enter add = Bhaktapur
[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur']]

In [10]:
a = [['Ram', 34, 'Kathmandu'], 
     ['Shyam', 45, 'Bhaktapur']]
print(a[0])
print(a[1][0])

['Ram', 34, 'Kathmandu']
Shyam

In [11]:
#append
a = [['Ram', 34, 'Kathmandu'], 
     ['Shyam', 45, 'Bhaktapur']]
a.append(['Hari',34,'Lalitpur'])
a

[['Ram', 34, 'Kathmandu'],
 ['Shyam', 45, 'Bhaktapur'],
 ['Hari', 34, 'Lalitpur']]

In [12]:
del a[0]
a

[['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

In [17]:
# search
a = [['Ram', 34, 'Kathmandu'],
     ['Shyam', 45, 'Bhaktapur'],
     ['Hari', 34, 'Lalitpur']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Kathmandu
['Ram', 34, 'Kathmandu']

In [20]:
a = [['Ram', 34, 'Kathmandu'],
     ['Shyam', 45, 'Bhaktapur'],
     ['Hari', 34, 'Lalitpur']]
a[0][2] = "Jhapa"
a

[['Ram', 34, 'Jhapa'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

In [21]:
a = [['Ram', 34, 'Kathmandu'],
     ['Shyam', 45, 'Bhaktapur'],
     ['Hari', 34, 'Lalitpur']]
# add = input("Enter add = ")
a[0][2] = input("Enter add = ")
a

Enter add = Jhapa

[['Ram', 34, 'Jhapa'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

In [22]:
# search
a = [['Ram', 34, 'Kathmandu'],
     ['Shyam', 45, 'Bhaktapur'],
     ['Hari', 34, 'Lalitpur']]
name = input("Enter name = ")
for i in a:
    if name.lower() in i[0].lower():
        print(i)

Enter name = ram
['Ram', 34, 'Kathmandu']