In [1]:
# Set
# -No indexing
# -Unordered
# -Multiple but no duplicate data
# -Mutable

In [2]:
s = {"Apple","Ball","Cat","Dog","Fish"}
print(s)

{'Ball', 'Apple', 'Cat', 'Dog', 'Fish'}

In [3]:
print(s[0])

TypeError: 'set' object is not subscriptable

In [3]:
s = {"Apple","Ball","Cat","Dog","Fish","Apple"}
print(s)

{'Ball', 'Apple', 'Cat', 'Dog', 'Fish'}

In [4]:
a = {1,2,3,4}
b = {5,6,7,8,9}
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [5]:
a = {1,2,3,4}
print(a*2)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [10]:
s = {1}
type(s)

set

In [12]:
#add()
s = set()
s.add("Apple")
s.add("Ball")
print(s)

{'Ball', 'Apple'}

In [13]:
#update
a = {1,2,3,4}
b = {5,6,7,8,9}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
a = {'Ball', 'Apple'}
a.remove("Apple")
a

{'Ball'}

In [16]:
a = [2,1,3,4,5,2,4,5,6,7,8,2,4,5,6]
a = list(set(a))
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
# No mutable data inside set
#No list, dict,set inside set
a = {(1,2,3),(4,5,6)}
a

{(1, 2, 3), (4, 5, 6)}

In [18]:
a = {[1,2,3],[4,5,6]}
a

TypeError: unhashable type: 'list'

In [24]:
U = {'Bill', 'Mike', 'Antman', 'Rakesh', 'Jobs', 'Ram', 'John', 'Ramesh', 'Satya', 'xyz','abc'}

apple = {"Ram","Jobs","Mike","John","Rakesh","Ramesh"}
ms = {"Bill","Satya","Ram","John","Mike","Antman"}
#intersection
i = apple.intersection(ms)
print(i)

#union
un = apple.union(ms)
print(un)

#only apple
print(apple-ms)   #apple.difference(ms)

#only ms
print(ms-apple)   #ms.difference(apple)

#unemployed
print(U - un)

{'Mike', 'Ram', 'John'}
{'Bill', 'Mike', 'Antman', 'Rakesh', 'Jobs', 'Ram', 'John', 'Ramesh', 'Satya'}
{'Rakesh', 'Jobs', 'Ramesh'}
{'Antman', 'Bill', 'Satya'}
{'xyz', 'abc'}