In [2]:
# !pip install mysql-connector

In [14]:
import mysql.connector
#importing database
database = mysql.connector.connect(
            host="localhost",
            user="root",
            password="",
            database = "pythonclass4pm"
)
db = database.cursor()

In [15]:
#Read data from database
sql = "SELECT * from student"
db.execute(sql)
result = db.fetchall()
print(result)

[(1, 'Ram', 89, 76, 90, 92, 87, 470, 86.0, 'A'), (2, 'Shyam', 89, 90, 98, 89, 78, 98, 489.0, 'A')]

In [16]:
sql = "SELECT sn,name,total,grade from student"
db.execute(sql)
result = db.fetchall()
print(result)

[(1, 'Ram', 470, 'A'), (2, 'Shyam', 98, 'A')]

In [17]:
#Read data from database
sql = "SELECT * from student WHERE grade = 'A'"
db.execute(sql)
result = db.fetchall()
print(result)

[(1, 'Ram', 89, 76, 90, 92, 87, 470, 86.0, 'A'), (2, 'Shyam', 89, 90, 98, 89, 78, 98, 489.0, 'A')]

In [18]:
#insert in database
sql = '''INSERT INTO `student` (`name`, `physics`, `chemistry`, `math`, `english`, `nepali`,
`total`, `per`, `grade`) VALUES ('Shyam', '89', '67', '70', '75', '76', '80', '78', 'B');'''
db.execute(sql)
database.commit()

In [19]:
# WAP to take input from user and insert it into database

In [20]:
# update
sql = "UPDATE student SET name = 'Ram Hari' WHERE name = 'RamHari'"
db.execute(sql)
database.commit()

In [21]:
# Delete
sql = "DELETE from student WHERE sn = 5"
db.execute(sql)
database.commit()