In [1]:
s = "Hello World"
print(type(s))

<class 'str'>

In [2]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''
print(type(a),type(b),type(c))

<class 'str'> <class 'str'> <class 'str'>

In [3]:
a = "hello "
b = "World"
c = a+b
print(c)

hello World

In [4]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [6]:
for i in a:
    print(i, end = "")

Hello World

In [11]:
a = "Hello World I am Python"
print(a[0])
print(a[0:5])
print(a[0:10:2])

H
Hello
HloWr

In [12]:
a = "Hello World I am Python"
b = a[0:5]
print(b)

Hello

In [18]:
a = "Python"
print(a[-1:-7:-1])

nohtyP

In [20]:
a = "Python"
print(a[::-1])

nohtyP

In [23]:
a = "Python"
l = len(a)
for i in range(l):
    print(a[i],end = "")

Python

In [25]:
i = 0
a = "Python"
l = len(a)
while i<l:
    print(a[i],end = "")
    i = i+1

Python

In [ ]:
name = "Ram"
age = 45
info = f"{name} {age}"

In [28]:
# WAP to create a billing system
# name = ?
# price = ?
# qty = ?
# Total = ?
info = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    info = info + f"{name} {price} {quantity} {total}\n"
    all_total = all_total + total
print("Bill\n",info)
print("All Total = ",all_total)

Enter n = 2
Enter name = Apple
Enter price = 300
Enter quantity = 3
Enter name = Banana
Enter price = 100
Enter quantity = 4
Bill
 Apple 300 3 900
Banana 100 4 400

All Total =  1300

In [8]:
info = "Ram Shyam Hari Sita Gita Ramesh"
name = "Ram"
if name in info:
    print("Yes")
    print(info.count(name))

Yes
2

In [13]:
info = "Ram Shyam Hari Sita Gita Ramesh".lower()
name = input("Enter name = ").lower()
if name in info:
    print("Yes")
    print(info.count(name))
else:
    print("There is no any",name)

Enter name = ram
Yes
2

In [12]:
info = "Ram Shyam Hari Sita Gita Ramesh"
print(info.upper())
print(info.lower())

RAM SHYAM HARI SITA GITA RAMESH
ram shyam hari sita gita ramesh

In [16]:
info = "Ram Shyam Hari Sita Gita Ramesh"
info.split()

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Ramesh']

In [17]:
# WAP to create a billing system
# name = ?
# price = ?
# qty = ?
# Total = ?
info = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    info = info + f"{name} {price} {quantity} {total}\n"
    all_total = all_total + total
print("Bill\n",info)
print("All Total = ",all_total)

Enter n = 2
Enter name = Apple
Enter price = 400
Enter quantity = 3
Enter name = Banana
Enter price = 200
Enter quantity = 3
Bill
 Apple 400 3 1200
Banana 200 3 600

All Total =  1800

In [18]:
info

'Apple 400 3 1200\nBanana 200 3 600\n'

In [20]:
a = info.split('\n')[:-1]
a

['Apple 400 3 1200', 'Banana 200 3 600']

In [24]:
bill_list = []
for i in a:
    bill_list.append(i.split())
    
bill_list

[['Apple', '400', '3', '1200'], ['Banana', '200', '3', '600']]