In [1]:
#Tuple
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Imutable

In [2]:
# a = tuple()

In [3]:
a = (1,2,3,4,5)
b = ("Apple","Ball","Cat","Dog")
print(a)
print(b)

print(type(a))
print(type(b))

(1, 2, 3, 4, 5)
('Apple', 'Ball', 'Cat', 'Dog')
<class 'tuple'>
<class 'tuple'>

In [4]:
b = ("Apple","Ball","Cat","Dog","Apple")
print(b[0])

Apple

In [5]:
# No append() extend() insert()
# No Update
# No del pop() remove()
# No sort()

In [9]:
a = ("Apple",)
type(a)

tuple

In [10]:
a = (1,2,3)
b = (4,5,6)
c = a+b
print(c)

(1, 2, 3, 4, 5, 6)

In [11]:
a = (1,2,3)
print(a*2)

(1, 2, 3, 1, 2, 3)

In [14]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a + (x,)
    
print(a)

Enter n = 5
Enter x = 123
Enter x = 345
Enter x = 234
Enter x = 546
Enter x = 23
(123, 345, 234, 546, 23)

In [13]:
a = ("Hello",)
list(a)

['H', 'e', 'l', 'l', 'o']

In [15]:
# min() max() sum() index()
a = (234,546,678,345,86,908,234,567,89)
print(min(a))
print(max(a))
print(sum(a))

86
908
3687

In [19]:
a = (1,2,3)
b = list(a)
del b[0]
b

[2, 3]

In [20]:
a = tuple(b)
a

(2, 3)

In [21]:
#tuple inside list
a = [(1,2),(3,4),(5,6)]
a

[(1, 2), (3, 4), (5, 6)]

In [22]:
# list inside tuple
a = ([1,2],(3,4),[5,6])

In [24]:
# tuple inside tuple
a = ((1,2,3),(4,5,6),(7,8,9))
print(a)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [25]:
a = (('Ram', 34, 'Jhapa'), 
     ('Shyam', 45, 'Bhaktapur'), 
     ('Hari', 34, 'Lalitpur'))
a

(('Ram', 34, 'Jhapa'), ('Shyam', 45, 'Bhaktapur'), ('Hari', 34, 'Lalitpur'))